# It may be necessary to run these for opencv
# - sudo apt-get update
# - sudo apt-get install -y libgl1-mesa-glx
opencv-contrib-python
tensorflow[and-cuda]
tensorflow-datasets
# [tf] is an extra and stands for tf-keras
tensorflow-probability[tf]
numpy
matplotlib
ipykernel
# may be necassary to use, may be not -> jupyter nbextension enable --py widgetsnbextension --sys-prefix
jupyter 
ipywidgets
scikit-learn # sklearn