tensorflow[and-cuda]
tensorflow-datasets
numpy
matplotlib
ipykernel
# may be necassary to use, may be not -> jupyter nbextension enable --py widgetsnbextension --sys-prefix
jupyter 
ipywidgets
scikit-learn # sklearn